<html>
<head>
  <!--<script src="https://cdn.tailwindcss.com"></script>-->
  <link href="/css/output.css" rel="stylesheet">
</head>
<div class="box">
  <h2 class= "text-black box-titles">Balance</h2>
  ${{balance}}
</div>
</html>