<!--<html>
<head>
  <link href="/css/output.css" rel="stylesheet">
</head>
<div class="box dark:bg-gray-600 dark:text-white">
  <h2 class= "box-titles dark:text-white">Balance</h2>
  ${{balance}}
</div>
</html>-->

<html>
<head>
  <link href="/css/output.css" rel="stylesheet">
</head>
<label class="slightlysmallerbigtext dark:text-white" for="balance">Balance:</label>
    <label class = "box" name="balance">{{balance}}</label>
</html>