<div class = "box">
  <h2 class="black-text box-titles">Expenses</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each transactions}}
    <tr>
      <td>{{ id }}</td>
      <td>{{ amount }}</td>
      <td>{{ date }}</td>
    </tr>
    {{/each}}
  </tbody>
  </table>
</div>