
<div class = "box">
  <label class="black-text box-titles">Groups</label>

<div class="table-responsive">
<table class="table table-light">
  <thead>
    <tr>
				<th scope="col" colspan="" class="w-max">Name</th>
				<th scope="col" colspan="">Members</th>
    </tr>
  </thead>
  <tbody >
    {{#each groups}}
    <tr class="">
      <td colspan="" class="">
			  {{groupname}}
      </td>
      <td colspan="">
        {{members}}
        </td>
    </tr>
      {{/each}}
  </tbody>
  </table>

</div>

</div>
