<div class = "box">
  <h2 class="black-text box-titles">Groups you are in:</h2>

<table>
  <thead>
    <tr>
      <th>Group name</th>
    </tr>
  </thead>
  <tbody>
    {{#each groups}}
    <tr>
      <td>{{ groupname }}</td>
    </tr>
    {{/each}}
  </tbody>
  </table>
</div>
