<div class = "box dark:bg-gray-600 dark:text-white">
    <form method="POST" action="/groupexpense" >
			<label class="black-text box-titles dark:text-ES">Group Pay</label>
			<br>
			<label class="black-text" for="expense-amount">Expense:</label>
			<input class= "border-2 border-gray-350 dark:text-black" type="text" name="expenseamount"/><br/>
			<label class="black-text" type="groupname">Groupname:</label>
			<input class= "border-2 border-gray-350 dark:text-black" type="text" name="groupname"/><br/>
			<label class="black-text" type="groupname">Description:</label>
			<input class= "border-2 border-gray-350 dark:text-black" type="text" name="description"/><br/>
			<button class= "border-2 border-black dark:bg-ES dark:text-black" id="calculate_button" type="submit" class="black-text">
				Send expense	
			</button>
    </form>

</div>
<br>
