<div class = "box dark:bg-gray-600 dark:text-white">
    <form method="POST" action="/groupexpense" >
			<label class="black-text box-titles dark:text-ES">Group Pay</label>
			<br>
			<label class="black-text  dark:text-black" for="expense-amount">Expense:</label>
			<input class= "border-2 border-gray-350" type="text" name="expenseamount"/><br/>
			<label class="black-text  dark:text-black" type="groupname">Groupname:</label>
			<input class= "border-2 border-gray-350" type="text" name="groupname"/><br/>
			<label class="black-text" type="groupname">Description:</label>
			<input class= " dark:text-black" type="text" name="description"/><br/> 
			<button class= "btn btn-primary dark:bg-ES dark:text-black" id="calculate_button" type="submit" >
				Send Expense	
			</button>
    </form>

</div>
<br>
