
<div class = "box">
    <form>
        <label class="black-text box-titles">Group Pay</label>
        <br>
        <label class="black-text" for="expense-amount">Expense:</label>
        <input type="text" name="expense-amount"/><br/>
        <label class="black-text" type="percent-to-pay">Share:</label>
        <input type="text" name="share-amount"/><br/>
    </form>

    <button id="calculate_button" type="submit" class="black-text">
        Calculate
    </button>
</div>
<br>
