<div class = " box ">
  <h2 class="h4  black-text box-titles">Groups</h2>

<table class="p-8 table mx-auto">
  <thead>
    <tr>
				<th scope="col" colspan="2" class="w-max">Name</th>
				<th scope="col" colspan="2">Members</th>
    </tr>
  </thead>
  <tbody >
    {{#each groups}}
    <tr class="flex px-2 py-8 border-b border-black ">

      <td colspan="2" class="">
			  {{groupname}}
      </td>
      <td colspan="2">{{members}}</td>

    </tr>
      {{/each}}
  </tbody>
  </table>
</div>
