<div class = "box dark:bg-gray-600 dark:text-white">

	<label class="black-text box-titles dark:text-ES">Group Pay</label>
	<br>
    <form method="POST" action="/groupexpense" >
			<div class="row">
			<label class="black-text col-form-label dark:text-black" for="expense-amount">Expense</label>
			<div class="col-sm-10 input-group mb-3 dark:text-black" id="expense-amount">
				<span class="input-group-text">$</span>
				<input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
			</div>
			</div>
			<div class=" input-group mb-3 dark:text-black" id="groupname">
				<span class="input-group-text">Group Name</span>
				<input type="text" class="form-control" aria-label="Group Name">
			</div>
			<div class=" input-group mb-3 dark:text-black" id="desc">
				<span class="input-group-text">Description</span>
				<input type="text" class="form-control" aria-label="Description">
			</div>

			<button class= "btn btn-primary dark:bg-ES dark:text-black" id="calculate_button" type="submit" >
				Send Expense	
			</button>

    </form>

</div>
<br>
