<div class = "box">
    <form method="POST" action="/joingroup" >
			<label class="black-text box-titles">Group you want to join:</label>
			<input type="text" name="groupname"/><br/>
			<button id="calculate_button" type="submit" class="black-text">
				Join
			</button>
    </form>
</div>

<br>
