<div class = "box">
  <h2 class="black-text box-titles">Reciept Transactions:</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each reciept_transactions}}
    <tr>
      <td>{{ id }}</td>
    </tr>
    {{/each}}
  </tbody>
  </table>
</div>