<div class = "box">
  <h2 class="black-text box-titles">Members of group entered above:</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each members}}
    <tr>
      <td>{{ username }}</td>
    </tr>
    {{/each}}
  </tbody>
  </table>
</div>