<div class = "box">
  <h2 class="black-text box-titles">Reciept Transactions:</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each members}}
    <tr>
      {{!-- <td>{{ members }}</td> --}}
    </tr>
    {{/each}}
  </tbody>
  </table>
</div>