<div class = "box dark:bg-gray-600 dark:text-white">
  <h2 class="black-text box-titles dark:text-ES">Deposit and Withdrawl History</h2>


 <div class="table-responsive">
          <table class="table table-light dark:table-dark">
            <thead>
              <tr>
                <th>ID</th>
                <th>Deposit</th>
                <th>Withdrawl</th>
              </tr>
            </thead>
            	 <tbody>
    {{#each deposit_withdrawl}}
    <tr>
      <td>{{ id }}</td>
      <td>{{ deposit }}</td>
      <td>{{ withdrawl }}</td>
    </tr>
    {{/each}}
  </tbody>
            </table>
        </div>

