<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid pb-2 mx-4 pt-2 flex justify-between">
      <a class="navbar-brand mb-0 h1" href="/">
        <img src="/img/text-logo-2.png" alt="" width="250">
      </a>
      <ul class="flex flex-row justify-between items-center">
        <li class="nav-item">
          <a class="nav-link" href="{{#if username}}/home{{else}}/"{{/if}}>Home</a>
        </li>
        {{#if username}}
				<div class="flex flex-row gap-4 text-white">
					<li class="px-4">
						<a class="text-white" href="/joinGroup">Join a Group</a>
					</li>
					<li class="px-4">
						<a class="btn btn-primary mx-2" href="/createGroup">Create a Group</a>
					</li>
					<li class="px-4">
						<a class="text-white" href="/logout">Logout</a>
					</li>
					<li class="px-4">
						<a class="text-white" href="#">Hi, {{ username }}!</a>
					</li>
					{{else}}
					<li class="px-4">
						<a class="text-white btn-primary" href="/login">Login</a>
					</li>
					<li class="px-4">
						<a class="btn btn-primary mx-2" href="/register">Register</a>
					</li>
					<li class="px-4">
						<a class="bg-white self-center my-auto mt-2" href="/">
							<img src="/img/block-logo-1.svg" alt="" width="40">
						</a>
					</li>
				</div>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>
