<html class = "dark">
<header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{!-- <title>Bootstrap</title> --}}
    {{!-- <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="../../resources/css/tailwind.css">
    <div name="grid">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
				<script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="../../resources/css/style.css">
        <link rel="stylesheet" href="../../resources/css/tailwind.css">
    </div>


    
  
      {{!-- <div class="navbar-collapse collapse order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <a class="nav-item">
                <a class="nav-link black-text">
                  hi, {{username}}!
                </a>
            </a>
        </ul>
      </div>
    </nav> --}}
  {{!-- </head> --}}

  {{> message}}

<head>
  <link href="/css/output.css" rel="stylesheet">
</head>
<form>
    <label class="slightlysmallerbigtext black-text" for="balance">Balance:</label>
    <label class = "box" name="balance">{{balance}}</label>
    <!--<input type="text" name="username"/><br/>-->
        <!--{{balance}}-->
    <!--<input type="text" name="password"/><br/>-->
</form>

{{> home/grouplist groups = groups}}

<div class = "box">
    <form action="/members" method="post">
        <label class="black-text box-titles">Want to see the members in a specific group?</label>
        <br>
        <label class="black-text" for="deposit-amount">Group name:</label>
        <input class= "border-2 border-gray-350" type="text" name="group_name"/><br/>
        <button class= "border-2 border-black" id="send_button" type="submit" class="black-text">
           Submit
        </button>
        <br>
        Look below!
    </form>
</div>

{{> home/members members = members}}

<div class = "box">
    <form action="/deposit" method="post">
        <label class="black-text box-titles">In/Out Cash</label>
        <br>
        <label class="black-text" for="deposit-amount">Deposit:</label>
        <input class= "border-2 border-gray-350" type="text" name="deposit_amount" placeholder="0" required/><br/>
        <label class="black-text" type="withdraw-amount">Withdraw:</label>
        <input class= "border-2 border-gray-350" type="text" name="withdraw_amount" placeholder="0" required/><br/>
        <button class= "border-2 border-black" id="send_button" type="submit" class="black-text">
           Send
        </button>
    </form>
</div>


<div class = "box">
    <form>
        <label class="black-text box-titles">Group Pay</label>
        <br>
        <label class="black-text" for="expense-amount">Expense total:</label>
        <input class= "border-2 border-gray-350" type="number" name="expense-amount" id="expense-amount"/><br/>
        <label class="black-text" for="share-amount">Percent that you pay of the expense:</label>
        <input class= "border-2 border-gray-350" type="number" name="share-amount" id="share-amount" /><br/>
    </form>

    <button class= "border-2 border-black" id="calculate_button" type="submit" class="black-text" onclick="automatic_calc()">
        Calculate
    </button>
    <div>
      <br> Amount of the expense you would pay: <br>
    </div>
    <div id="calculate_button_result">
    </div>

    <script>
      function automatic_calc() {
        const expense = document.getElementById('expense-amount').value;
        const percent = document.getElementById('share-amount').value;
        const percent_new = percent/100;
        const expense_new = percent_new * expense;
        //return expense;
        document.getElementById('calculate_button_result').innerHTML = "$" + expense_new;
       }
    </script>
</div>
<br>

<div class = "box">
  Submit a photo of your reciept and add this transaction to your reciepts transactions! <br>
    <form action="/upload" method="POST" enctype="multipart/form-data" id="reciept_form">
        <label class="black-text" for="file">Submit your reciept:</label> <br>
        <input type="file" name="file" id="file"/><br/>
        <button class= "border-2 border-black" type="submit" class="black-text" >
          Submit
        </button>
    </form>
</div>
<br>

{{> home/reciept_transactions reciept_transactions = reciept_transactions}}

<div Resume id="resume" class = "box">

    <label class="black-text box-titles"> Payment History </label>
    <table class ="centered">
        <thead>
          <tr>
            <th>User</th>
            <th>Deposit Amount</th>
            <th>Withdraw Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Userl</td>
            <td>+$100</td>
            <td>-$100</td>
          </tr>
          <tr>
            <td>User2</td>
            <td>+$200</td>
            <td>-$200</td>
          </tr>
          <tr></tr>
        </tbody>
</thead>
</table>
</body>
</div>

{{> home/balance balance=balance}}

{{> home/grouppay }}

{{> home/expenses transactions=transactions}}

</html>


