<body class = "dark:bg-gray-800">
<html >
<header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{!-- <title>Bootstrap</title> --}}
    {{!-- <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="../../resources/css/tailwind.css">
    <div name="grid">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
				<script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="../../resources/css/style.css">
        <link rel="stylesheet" href="../../resources/css/tailwind.css">
    </div>


    
  
      {{!-- <div class="navbar-collapse collapse order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <a class="nav-item">
                <a class="nav-link black-text">
                  hi, {{username}}!
                </a>
            </a>
        </ul>
      </div>
    </nav> --}}
  {{!-- </head> --}}
<head>
  <link href="/css/output.css" rel="stylesheet">
</head>

<div class="container text-center ">
  {{> message}}
</div>

  <div class="container">

  <div class="row">

    <div class="col">
      <div class="box dark:bg-gray-600">
        <label class="black-text box-titles dark:text-ES">Balance</label>
        <br>
        <p class="display-5  dark:text-white">
        ${{balance}}
        </p>
      </div>
    </div>
    <div class="col">
    {{!-- <div class="two"> --}}
        {{> home/groups groups=groups}}
    </div>
    </div>


<div class="row">

<div class="col">
  {{!-- <div class="one"> --}}
    <div class = "box dark:bg-gray-600 dark:text-white">
            <label class="box-titles dark:text-ES">In/Out Cash</label>
        <form action="/deposit" method="post">
            <br>
            <div class=" input-group mb-3 dark:text-black" id="deposit-amount">
              <span class="input-group-text">Deposit</span>
               <input class= "form-control dark:text-black" type="text" name="deposit_amount" aria-label="Deposit amount" placeholder="0" required/>
            </div>
            <div class=" input-group mb-3 dark:text-black" id="deposit-amount">
              <span class="input-group-text">Withdraw</span>
               <input class= "form-control dark:text-black" type="text" name="withdraw_amount" aria-label="Deposit amount" placeholder="0" required/>
            </div>
            
            <button class= " btn btn-primary  dark:bg-ES dark:text-black" id="send_button" type="submit" class="black-text">
              Send
            </button>
        </form>
    </div>
  </div>
  {{!-- <div class="two"> --}}
  <div class="col">
    {{!-- {{> home/expenses transactions=transactions}} --}}


    {{> home/payment deposit_withdrawl=deposit_withdrawl}}
  </div>
  


    {{!-- <div Resume id="resume" class = "box"> --}}

        {{!-- <table class ="centered"> --}}
            
    {{!-- </body> --}}
    </div>
  </div>
{{!-- </section> --}}



{{!-- <section class="container"> --}}
  <div class="row">

  <div class="col">
  {{!-- <div class="one"> --}}
    <div class = "box dark:bg-gray-600 dark:text-white">
      Submit a photo of your receipt and add this transaction to your receipts transactions! <br>
        <form action="/upload" method="POST" enctype="multipart/form-data" id="reciept_form">
            <div class="mb-3">
              {{!-- <label class="black-text" for="file">Submit your reciept:</label> --}}
              <input class="form-control formFile dark:bg-ES dark:text-black" type="file" id="formFile">
            </div>
            {{!-- <input class="" type="file" name="file" id="file"/><br/> --}}
            <button class= "btn btn-primary  dark:bg-ES dark:text-black" type="submit" class="black-text" >
              Submit
            </button>
        </form>
    </div>
  </div>
  <div class="col">
  {{!-- <div class="two"> --}}
    {{> home/reciept_transactions reciept_transactions = reciept_transactions}}
  </div>
  </div>
{{!-- </section> --}}
{{!-- <br> --}}

{{!-- <section class="container"> --}}

<div class="row">
 <div class="col">
  {{!-- <div class="one"> --}}
    <div class = "box  dark:bg-gray-600 dark:text-white">
        <form>
            <label class="black-text box-titles dark:text-ES">Calculate Potential Expense</label>
            <br>
            <div class=" input-group mb-3 dark:text-black" >
              <span class="input-group-text">Expense Total:</span>
              <input type="number" class="form-control border-2 border-gray-350 dark:text-black" aria-label="Expense Total" id="expense-amount">
			      </div>
            <div class=" input-group mb-3 dark:text-black" >
              <span class="input-group-text">Percent You Pay:</span>
              <input type="number" class="form-control border-2 border-gray-350 dark:text-black" aria-label="Your percentage" id="share-amount">
			      </div>
            
        </form>

        <button class= "btn btn-primary dark:bg-ES dark:text-black" id="calculate_button" type="submit"  onclick="automatic_calc()">
            Calculate
        </button>
        <div id="calculate_button_result">
        <br> Amount of the expense you would pay: <br>
        <span>$</span>
        </div>

        <script>
          function automatic_calc() {
            const expense = document.getElementById('expense-amount').value;
            const percent = document.getElementById('share-amount').value;
            const percent_new = percent/100;
            const expense_new = percent_new * expense;
            //return expense;
            document.getElementById('calculate_button_result').innerHTML += expense_new;
          }
        </script>
    </div>
  </div>
  <div class="col">
  {{!-- <div class="two"> --}}
    {{> home/grouppay }}
  </div>
  </div>
 
{{!-- </section> --}}
  {{!-- </div> --}}

<p style="padding-bottom:200px">&nbsp;</p>

{{> home/expenses transactions=transactions}}

<p style="padding-bottom:15px">&nbsp;</p>
</div>
</html>


