{{> message}}

<style>
    .grid {
        
        {{!-- width:600px; --}}
        display: grid;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 33% 33% 33%;

        {{!-- padding-left:auto;
        padding-right:auto; --}}
        text-align:center;
        font-size:30px;
    }
    form{
        grid-column-start: 2;
        grid-column-end: 3;
        border: 5px;
        border-style:solid;
        border-color:#212529;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #dcdcdc;
    }
    .secondRow {
        grid-row-start:2;
        grid-column-start: 2;
        grid-column-end: 2;
    }
    button {
        color: #212529;
        background-color:#92ffcd;
    }
</style>

<style>

</style>

<h1>Join Group</h1>

<div class="grid">
<form method="post" action="/joinGroup">
    <p>&nbsp;</p>
    <label for="groupname">Group Name</label> 
    <input type="text" name="groupname"/><br /> 
    <p>&nbsp;</p>
    <button class= "border-2 border-black" id="submit_button" type="submit">
        Join
    </button>
    <p>&nbsp;</p>
</form>

    <p class="secondRow">
        <br> Or, 
        <a href="./createGroup">Create a New Group</a>
    </p>

</div>
<p style="padding-bottom:50px">&nbsp;</p>
