<div class="dark:bg-gray-800">
<head>
    <link rel="stylesheet" href="../../resources/css/styles.css">
</head>
<div class="py-4 dark:bg-gray-600"></div>
<div class="container dark:bg-gray-600">
    <div class=" row dark:bg-gray-600">
        <div class="col">
            <h1 class="display-2 dark:text-ES">Split group expenses with ease.</h1>
        </div>
        <div class="col align-content-center">

            <img src="/img/finance-stock-image.jpeg" style="width:800px">
            <p id = "desc" class="dark:text-white dark:bg-gray-600">ExpenseShare is an effortless and innovative way to keep track of a group's expenses. It allows for easy payment calculations, withdrawls and deposits, as well as an overview of a group's payment history. </p>
        </div>
    </div>
</div>


<p style="padding-bottom:141px">&nbsp;</p>
</div>
        
        


