
<div class="py-4"></div>
<div class="container d-flex">
    <h1 class="display-2">Split group expenses with ease.</h1>
    <div class="align-content-center">
        <img src="/img/finance-stock-image.jpeg" style="width:800px">
        <p id = "desc" >ExpenseShare is an effortless and innovative way to keep track of a group's expenses. It allows for easy payment calculations, withdrawls and deposits, as well as an overview of a group's payment history. </p>
    </div>
    
</div>

<p style="padding-bottom:50px">&nbsp;</p>

        
        


