{{> message}}

<style>
    .grid {
        
        {{!-- width:600px; --}}
        display: grid;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 33% 33% 33%;

        {{!-- padding-left:auto;
        padding-right:auto; --}}
        text-align:center;
        font-size:30px;
    }
    form{
        grid-column-start: 2;
        grid-column-end: 3;
        border: 5px;
        border-style:solid;
        border-color:#212529;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #dcdcdc;
    }
    .secondRow {
        grid-row-start:2;
        grid-column-start: 2;
        grid-column-end: 2;
    }
    button {
        color: #212529;
        background-color:#92ffcd;
    }
</style>

<style>

</style>

<h1 class = "text-4xl">Login to your account:</h1>

<div class="grid">
<form method="post" action="/login">
    <p>&nbsp;</p>
    <label for="username">Username:</label>
    <input class= "border-2 border-gray-350" type="text" name="username"/><br />
    <p>&nbsp;</p>
    <label for="password">Password:</label>
    {{!-- <input type="text" name="password"/><br /> --}}
    <input class= "border-2 border-gray-350" type="password" id="password" name="password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br />
    <p>&nbsp;</p>
    <button class= "btn btn-primary" id="submit_button" type="submit">
        Login
    </button>
    <p>&nbsp;</p>
</form>

    <p class="secondRow">Don't have an account? 
        <br>Register Here: 
        <a class="underline" href="./register">Register</a>
    </p>

</div>
<p style="padding-bottom:50px">&nbsp;</p>
