<form method="post" action="/login">
    <label for="username">Username:</label>
    <input type="text" name="username"/><br />
    <label for="password">Password:</label>
    <input type="text" name="password"/><br />

    <button id="submit_button" type="submit">
        Login
    </button>
</form>
