<div class = "dark:bg-gray-500">
<div>
    <h3>
        Logged out successfully! <br>
    </h3>
    <h2>
        Thank you for visiting our website! <br>
        If you wish to log back in please click the following link: <a href='/login'>Login</a>
    </h2>
</div>
</div>