<div class = "dark:bg-gray-500">
<div>
    <h3 class="text-4xl dark:text-ES">
        Logged out successfully! <br>
    </h3>
    <h2 class="text-3xl dark:text-white">
        Thank you for visiting our website! <br>
        If you wish to log back in please click the following link: <a class= " underline dark:text-ES" href='/login'>Login</a>
    </h2>
</div>
<p style="padding-bottom:800px">&nbsp;</p>
</div>