<h1>Register a new account:</h1>

<form method="post" action="/register"></form>

    <label for="username">Username:</label>
    <input type="text" name="username"/><br />
    <label for="password">Password:</label>
    <input type="text" name="password"/><br />

    <button id="submit_button" type="submit">
        Register
    </button>
</form>

<p>Already have an account? Login Here: <a href="/ExpenseShare/ProjectSourceCode/src/views/pages/login.hbs"></a></p>