<div class = "dark:bg-gray-500">
{{> message}}

<style>
    .grid {
        
        {{!-- width:600px; --}}
        display: grid;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 33% 33% 33%;

        {{!-- padding-left:auto;
        padding-right:auto; --}}
        text-align:center;
        font-size:30px;
    }
    form{
        grid-column-start: 2;
        grid-column-end: 3;
        border: 5px;
        border-style:solid;
        border-color:black;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #dcdcdc;
    }
    .secondRow {
        grid-row-start:2;
        grid-column-start: 2;
        grid-column-end: 2;
    }
    button {
        color: #212529;
        background-color:#92ffcd;
    }
</style>

<h1 class = "text-4xl dark:text-ES">Register a new account:</h1>
<div class="grid">
    <form method="post" action="/register">
        <p>&nbsp;</p>
        <label for="username">Username:</label>
        <input class= "border-2 border-gray-350" type="text" name="username"/><br />
        <p>&nbsp;</p>
        <label for="email">Email:</label>
        <input class= "border-2 border-gray-350" type="email" name="email"/><br />
        <p>&nbsp;</p>
        <label for="password">Password:</label>
        {{!-- <input type="text" name="password"/><br /> --}}
        <input class= "border-2 border-gray-350" type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br />
        <p>&nbsp;</p>
        <button class= "border-2 border-black dark:bg-ES dark:text-black" id="submit_button" type="submit">
            Register
        </button>
        <p>&nbsp;</p>
    </form>

    <p class="secondRow dark:text-white">Already have an account? Login Here: <a class="underline dark:text-ES" href="./login">Login</a></p>
</div>

<p style="padding-bottom:275px">&nbsp;</p>
</div>