{{> message}}



<h1>Register a new account:</h1>

<form method="post" action="/register">
    <label for="username">Username:</label>
    <input type="text" name="username"/><br />
    <label for="password">Password:</label>
    {{!-- <input type="text" name="password"/><br /> --}}
    <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br />

    <button id="submit_button" type="submit">
        Register
    </button>
</form>

<p>Already have an account? Login Here: <a href="./login">Login</a></p>